<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body * p {
      text-indent: 3rem;
    }

    .mail-body {
      text-indent: 3rem;
    }

    .image {
      text-align: center;
    }
  </style>
</head>

<body>
  <div class="image">
    <img src="../logo.png" width="200" height="180" alt="Logo">
  </div>
  <div>
    <p>Dear ${name},<br />
    <p class="mail-body">I am writing to inform you that an event has been allocated to you as per your request. The
      event, <strong>${eventName}</strong>, is scheduled to take place on <strong>${startTime?date?string["dd-MM-yyyy"]}</strong> at <strong>${location}</strong>. This
      event has been organized by us, and we are excited to have you participate.</p>
    <p class="mail-body">The event is scheduled to begin at <strong>${startTime?datetime?string["dd-MM-yyyy hh:mm a"]}</strong> and end at <strong>${endTime?datetime?string["dd-MM-yyyy hh:mm a"]}</strong>. We have taken care of all necessary arrangements, including transportation and accommodations, for your convenience.</p>
    <p class="mail-body">We understand the importance of your time and commitments, and we are flexible to accommodate
      any scheduling conflicts you may have.</p>
    <p class="mail-body">Thank you for your interest and participation. We look forward to your presence at the event.
    </p>
    </p>
    <p style="text-align: end;">Sincerely,</p>
    <p style="text-align: end;font-weight: bold;">Admin<br/>(Innovative Services)</p>
  </div>
</body>
</html>