<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .mail-body{
      text-indent: 3rem;
    }
    .image{
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="image">
    <img src="../logo.png" width="200" height="180" alt="Logo"></img>
  </div>
  <div>
    <h3>Subject: Invitation to Be Chief Guest at [Event Name]</h3>
    
    <p>Dear ${name},<br />
    
    <p class="mail-body">I am writing to extend an invitation to you to be the chief guest at our upcoming event, [${eventName}], which will be
    held on [Event Date] 
      at [Event Venue]. As a well-respected and accomplished individual in [Celebrity's Industry], we
    believe that your presence at our event would greatly enhance its success and impact.</p>

    <p class="mail-body">We are thrilled to offer you the opportunity to share your knowledge and experience with our audience as the chief
    guest, and we would be honored if you could attend. Our event is scheduled to begin at [Event Start Time] and end at
    [Event End Time], and we are expecting [Expected Number of Attendees] attendees. We have also made arrangements for your
    transportation and accommodations.</p>
    
    <p class="mail-body">We understand that your schedule may be busy, and we would be happy to accommodate any scheduling conflicts you may
    have.</p>
        
    <p class="mail-body">Thank you for your consideration, and we hope for your arrival.</p></p>
    
    <p style="text-align: end;">Sincerely,</p>
    <p style="text-align: end;">[Your Name]</p>
  </div>
</body>
</html>