<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>

    body * p {
      text-indent: 3rem;
    }

    .mail-body{
      text-indent: 3rem;
    }

    .image{
      text-align: center;
    }

  </style>
</head>
<body>
  <div class="image">
    <img src="../logo.png" width="200" height="180" alt="Logo"></img>
  </div>
  <p><strong>Dear ${name},</strong></p>
  <p class="mail-body">I am pleased to inform you that your request to participate in the upcoming event, <strong>${eventName}</strong>, has been accepted. The event is scheduled to take place on <strong>${startTime?date?string["dd-MM-yyyy"]}</strong> at <strong>${location}</strong>. We have notified <strong>${celebrity.name}</strong>'s admin of your participation, and further steps will be taken accordingly.</p>
  <p><strong>Event Start Time:</strong> ${startTime?datetime?string["dd-MM-yyyy hh:mm a"]}</p>
  <p><strong>Event End Time:</strong> ${endTime?datetime?string["dd-MM-yyyy hh:mm a"]}</p>
  <p>Once we receive confirmation from ${celebrity.name}'s admin, we will promptly update you on the next steps.</p>
  <p>Thank you for choosing us for this event, and we look forward to your participation.</p>
  <p style="text-align: end;">Sincerely,</p>
  <p style="text-align: end;;font-weight: bold;">Admin<br/>(Innovative Services)</p>
</body>
</html>